.ageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectContainer{
    background-color:#e0e1dd;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: 100%;
}
